.App {
  text-align: center;
}

body {
  margin-bottom: 10vh;
}

/*
React quill is bugged af and makes 2 toolbars for some reason so I'm hiding the first one
*/

.quill > .ql-toolbar:first-child {
  display: none !important;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

