.App {
  text-align: center;
}

body {
  margin-bottom: 10vh;
}

ul {
  margin-top: 0 !important;
  
}

p {
  margin-top: 0 !important;
}


/*
React quill is bugged af and makes 2 toolbars for some reason so I'm hiding the first one. This bug only exists in development, not in build version, I DONT KNOW WHY


.quill > .ql-toolbar:first-child {
  display: none !important;
}
*/

.MuiDivider-root {
  background-color: #A9A9A9 !important;
  color: #A9A9A9 !important;
  border-color: #A9A9A9 !important;
}

hr {
  background-color: black !important;
  color: black !important;
  border-color: black !important;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ql-container {
  height: 15vh !important;
}

.ql-editor {
  height: 15vh !important;
}

@media print{
  .noprint{
      display:none !important;
  }
  .MuiDivider-root {
    background-color: black !important;
    color: black !important;
  }
  hr {
    color: black !important;
    background-color: black !important;
  }
}
